body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    
    background-image: url('../assets/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   }
   .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 1; 
  }
  .contents {
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vw;
  }
.main-head{
  position: absolute;
  top: 10px;
  width: 100%;
  height: 8%;
  font-size: 2vw;
}
  
  /* section {
    margin-bottom: 40px;
  } */

  h2{
    font-size: 2vw;
  }
  p {
    line-height: 1.5;
    font-size: 1.4vw;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #1d277e;
    color: #c7c2c2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3949ab;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  