.nav-container{
    width: 100vw;
    height: 8vh;
    overflow-x: hidden;
}
.navbar{
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: black;
    color: white;
    
    /* position: absolute; */
    top: 0;
  }
.login-link{
  margin: 5vw;
}